asgiref==3.8.1
click==8.1.7
Django==4.2.13
django-admin-sortable2==2.2.1
django-tinymce==4.0.0
environs==11.0.0
marshmallow==3.21.3
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.2
python-dotenv==1.0.1
sqlparse==0.5.0
tomli==2.0.1
typing_extensions==4.12.0

